@import url('https://fonts.googleapis.com/css?family=Asap:400,600|K2D:400,600|Exo 2:400,600&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Asap', 'Arial', sans-serif;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.main-container {
    height: auto;
    width: 100vw;
    overflow: hidden;
}
.navbar {
    padding: 0.8rem;
}
.navbar-nav li {
    padding-right: 40px;
}
.nav-link {
    font-family: 'K2D', 'Arial', sans-serif;
    font-size: 1.1em!important;
}
.nav-link:hover {
    color: rgb(0,91,92)!important;
}
/* Header */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/header.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'K2D', sans-serif;
    /* text-align: center; */
    color: #afeeee;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.hero-image > h1 {
    font-size: 6.5em;
    animation:fadeIn;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@keyframes fadeIn {
    0% {
      transform: translateY(1024px);
      opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 0.4;
        scale:1;
      }
    100% {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
}

.hero-image span {
    font-size: 4.00em;
    color: #FFF;
    -webkit-animation:fadeIn;
    animation:fadeIn;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}

html > div > div.hero-image > a {
    text-decoration: none;
}
button[type=btn]:hover {
    background: transparent; 
    border: 2px solid rgba(212, 139, 22, 1);
    opacity: 0.85;
    transform: scale(1.3);
    text-decoration: none;
    font-weight: 600;
}
div>div.hero-text>button>a {
    color: #333!important;
    opacity: 0.85;
    transform: scale(1.5);
    text-decoration: none;
}
button[type=btn]:active {
    text-decoration: none;
}
button[type=btn]:link {
    text-decoration: none;
}
/* About section */
html .main-contener h2 {
    position: relative;
    text-align: center;
    line-height: 1.8em;
    padding-top: 3em;
    padding-bottom: 0.625em;
    font-family: 'Asap', sans-serif;
}
.myphoto+p {
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 75%;
    margin: 0 auto;
}
.it-label {
    display: inline-block;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2.25em;
}
div.it-label>p {
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    padding-bottom: 1.625rem;
    color: #777;
}
.myphoto {
    padding-bottom: 1.625em;
}
.fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fas {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-html5 {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 5em;
    content: "\f13b";
    color: #777;  
}
.fa-html5:hover, .fa-html5:focus {
    color: #e54d26;
}
.fa-css3-alt {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 5em;
    content: "\f38b";
    color: #777;
}
.fa-css3-alt:hover {
    color: #2163af;
}
.fa-bold {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 5em;
    content: "\f032";
    color: #777;
}
.fa-bold:hover {
    color: #6f42c1;
}
.fa-github {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 5em;
    content: "\f09b";
    color: #777;
}
.fa-github:hover {
    color: #000;
}
.fa-js-square{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 5em;
    content: "\f3b9";
    color: #777;
}
.fa-js-square:hover  {
    color: #ffc107;
}
/* Portfolio */
.portfolio {
    display: flex;
    flex-flow: row wrap;
    max-width: calc(100vw-4*12px);
    overflow: hidden;
}
.overlay-project {
    width: 550px;
    height: 332px;
    overflow: hidden;
    /* margin: 12px; */
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover {
    transform: scale(1.15);
}
/* Portfolio-projekt1 */
.item1 {
    display: flex;
    background-image: linear-gradient(-135deg,rgba(220, 220, 220, 0.4) 0%,rgba(175, 238, 238, 0.4) 100%), url("../img/project1.png");
    color: #333;
    height: 332px;
    max-height: 50vh;
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}
div.portfolio > div > button#portfolio-button1 {
    background-image: linear-gradient(-135deg,rgba(220, 220, 220, 0.4) 0%,rgba(175, 238, 238, 0.4) 100%);
    border-radius: 12px;
    border: 2px solid rgba(170, 170, 170, 0.31);
    opacity: 0.9;
    height: 10%;
    width: 20%;
}
button#portfolio-button1 > a {
    color: #333;
    text-decoration: none;
}
button#portfolio-button1:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}
/* Portfolio-projekt2 */
.item2 {
    display: flex;
    background-image: linear-gradient(-135deg,rgba(255, 209, 153, 0.4) 0%,rgba(245, 135, 0, 0.2) 100%), url("../img/project2.png");
    color: #333;
    height: 332px;
    max-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}
div.portfolio > div > button#portfolio-button2 {
    background-image: linear-gradient(-135deg,rgba(255, 209, 153, 0.4) 0%,rgba(245, 135, 0, 0.2) 100%);
    border-radius: 12px;
    border: 2px solid rgba(170, 170, 170, 0.31);
    opacity: 0.9;
    height: 10%;
    width: 19%;
}
button#portfolio-button2 > a {
    color: #333;
    text-decoration: none;
}
button#portfolio-button2:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}
.item3 {
    display: flex;
    background-image: -o-linear-gradient(225deg,rgba(255, 209, 153, 0.4) 0%,rgba(245, 135, 0, 0.2) 100%), url("../img/project3.png");
    background-image: linear-gradient(-135deg,rgba(255, 209, 153, 0.4) 0%,rgba(245, 135, 0, 0.2) 100%), url("../img/project3.png");
    color: #333;
    height: 332px;
    max-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}
div.portfolio > div > button#portfolio-button3 {
    background-image: -o-linear-gradient(225deg,rgba(255, 209, 153, 0.4) 0%,rgba(245, 135, 0, 0.2) 100%);
    background-image: linear-gradient(-135deg,rgba(255, 209, 153, 0.4) 0%,rgba(245, 135, 0, 0.2) 100%);
    border-radius: 12px;
    border: 2px solid rgba(170, 170, 170, 0.31);
    opacity: 0.9;
    height: 10%;
    width: 19%;
}
button#portfolio-button3 > a {
    color: #333;
    text-decoration: none;
}
button#portfolio-button3:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}
.item4 {
    display: flex;
    background-image: -o-linear-gradient(225deg,rgba(220, 220, 220, 0.4) 0%,rgba(175, 238, 238, 0.4) 100%), url("../img/project4.png");
    background-image: linear-gradient(-135deg,rgba(220, 220, 220, 0.4) 0%,rgba(175, 238, 238, 0.4) 100%), url("../img/project4.png");
    color: #333;
    height: 332px;
    max-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}
div.portfolio > div > button#portfolio-button4 {
    background-image: -o-linear-gradient(225deg,rgba(220, 220, 220, 0.4) 0%,rgba(175, 238, 238, 0.4) 100%);
    background-image: linear-gradient(-135deg,rgba(220, 220, 220, 0.4) 0%,rgba(175, 238, 238, 0.4) 100%);
    border-radius: 12px;
    border: 2px solid rgba(170, 170, 170, 0.31);
    opacity: 0.9;
    height: 10%;
    width: 19%;
}
button#portfolio-button4 > a {
    color: #333;
    text-decoration: none;
}
button#portfolio-button4:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}
/* Contact form */
.contactForm {
    display: flex;
    flex-flow: column nowrap;
    width:60vw; 
    align-items: center;
    justify-content: center;
    align-content: center;
}
.contactForm > * {
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
}
input[type=submit] {
    background-image: -o-linear-gradient(225deg,#FFD199 0%,#F58700 100%);
    background-image: linear-gradient(-135deg,#FFD199 0%,#F58700 100%);
    border-radius: 10px;
    opacity: 0.9;
    color: #333!important;
    transition: all 0.3s ease-in-out;
}
input[type=submit]:hover {
    background-image: -o-linear-gradient(225deg,#FFD199 0%,#F58700 100%);
    background-image: linear-gradient(-135deg,#FFD199 0%,#F58700 100%);
    color: #333!important;
    opacity: 1;
    transform: scale(1.15);
}
textarea {
    border-radius: 2px;
    text-align: justify;    
}
.contact > input [type=name], input [type=email] {
    size: lg;
}
/* Footer */
footer {
    padding-top:10px;
    background-color: #323232;
    color: #dcdcdc;
    font-family: 'Asap', sans-serif;
    text-align: center;
}
hr.light {
    border-top: 1px solid #dcdcdc;

}
footer .fas {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-phone {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f095";
    color: #FFF;
}
.fa-envelope {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f0e0";
    color: #FFF;
}
footer p {
    display: inline-block;
    padding-left: 1rem;
}
/* Media */
@media (max-width: 992px) {
    html {
        font-size: 0.97rem;
    }
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.25em;
    }
}
@media (max-width: 832px) {
    html {font-size: 0.95rem;
    }
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 0.7em;
    }
}
@media (max-width: 768px) {
    html {font-size: 0.95rem;
    }
    h1 {
        font-size: 2em;        
    }
    h2 {
        font-size: 0.5em;
    }
}
@media (max-width: 576px) {
    html {font-size: 0.7rem;
    }
}